<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="zf2tutorial">
            <directory>./AlbumTest</directory>
        </testsuite>
    </testsuites>
</phpunit>

<!--
- phpunit is bedoeld fouten in het framework sneller te ondekken.
- Fouten kunnen worden getset door het programma cmd of shell () te gebruiken.
- ga middel "cd" naar de directory waar de phpunit.xml.dist file staat.
- Tiep in "phpunit"
- er wordt nu aangegevens hoeveel testen en assertations er zijn gedaan
-->